body {
    font-family: Calibri, sans-serif;
    background-color: #F5F1ED;
    margin: 0;
    padding: 0;
}

/* Utilities */
.flex {
    display: flex;
    align-items: center;
}

.align-center {
    text-align: center;
}

/* Navbar */
.nav {
    height: 10rem;
    background-color: #A99985;
}

.logo {
    height: 9rem;
    margin-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 2rem;
    color: #333;
}

p {
    margin-left: 2rem;
    line-height: 1.6;
}

/* Links */
a {
    color: #70798C;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lists */
ol {
    padding-left: 20px;
    margin-bottom: 20px;
    margin-left: 2rem;
}

ul {
    padding-left: 20px;
    list-style-type: square;
    margin-bottom: 20px;
    margin-left: 2rem;
}

dl {
    background-color: #A99985;
    padding: 10px;
    border-radius: 5px;
    margin: 2rem;
}

/* Table */
table {
    width: 75%;
    border-collapse: collapse;
    margin: 2rem auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #A99985;
    color: white;
}

.multimedia-container {
    justify-content: space-evenly;
    padding: 2rem;
}

/* Image */
.image {
    justify-content: center;
}

/* Video */


/* Form */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 2rem auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}

form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #A99985;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #A99985;
}

/* Frameset */
.frameset {
    justify-content: space-evenly;
    margin: 20px 0;
}